 
    
        

    {% block importmap %}
  {% include "_partials/_header.html.twig" %}

{% include "_partials/_nav.html.twig" %}
        {{ importmap('app') }}
    {% endblock %}
 

<body>
{% block body %} {% endblock %}


{% include "_partials/_footer.html.twig" %}
</body>
</html>